COMPOSE_PROJECT_NAME=osint_platform_dev

POSTGRES_USER=osint_admin
POSTGRES_PASSWORD=osint_dev_password
POSTGRES_DB=osint_metadata_dev
POSTGRES_HOST=postgres
POSTGRES_PORT=5432
POSTGRES_EXPOSE_PORT=15432
POSTGRES_DATA_HOST_PATH=./volumes/postgres/data
POSTGRES_SHM_SIZE=1g
POSTGRES_SHARED_BUFFERS=256MB
POSTGRES_EFFECTIVE_CACHE_SIZE=1GB
POSTGRES_WORK_MEM=16MB
POSTGRES_MAINTENANCE_WORK_MEM=128MB

NEO4J_USER=neo4j
NEO4J_PASSWORD=osint_dev_password
NEO4J_URI=bolt://neo4j:7687
NEO4J_HTTP_PORT=17474
NEO4J_BOLT_PORT=17687
NEO4J_DATA_HOST_PATH=./volumes/neo4j/data
NEO4J_PAGECACHE_SIZE=256m
NEO4J_HEAP_SIZE=512m
NEO4J_TX_MEMORY=256m
NEO4J_MAX_NETWORK_DEPTH=3
NEO4J_MAX_NETWORK_EDGES=200

REDIS_HOST=redis
REDIS_PORT=6379
REDIS_EXPOSE_PORT=16380

MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=minioadmin123
MINIO_DATA_HOST_PATH=./volumes/minio/data
MINIO_API_PORT=19000
MINIO_CONSOLE_PORT=19001

AIRFLOW_UID=50000
AIRFLOW_GID=0
AIRFLOW_DATA_HOST_PATH=./volumes/airflow/data
AIRFLOW_TEMP_SSD_HOST_PATH=./volumes/airflow/temp
AIRFLOW_PORT=18080
AIRFLOW_FERNET_KEY=GjntZlKgS0VSUTjbEs6i4hE7_WirbOg5nUCTIwvSkN8=
_AIRFLOW_WWW_USER_USERNAME=airflow
_AIRFLOW_WWW_USER_PASSWORD=airflow

BACKEND_PORT=18000
FRONTEND_PORT=13000
NEXT_PUBLIC_API_URL=http://localhost:18000
TZ=America/Sao_Paulo
